<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수주 목록</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
</head>

<th:block layout:fragment="css">
    <style>
        .container-fluid {
            padding: 20px;
        }

        h1 {
            margin-bottom: 20px;
        }

        #myTable {
            width: 100%;
            border-collapse: collapse;
        }

        #myTable th, #myTable td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        #myTable th {
            background-color: #f2f2f2;
        }

        .btn {
            margin-bottom: 10px;
        }

        .dataTables_filter {
            display: none;
        }

        .dataTables_info {
        }

        .btn-container {
            display: flex;
            gap: 10px;
        }

        .btn-right {
            margin-left: auto;
        }

        .dataTables_wrapper .dt-buttons {
            float: right;
        }
    </style>
</th:block>

<div layout:fragment="content" class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4" style="margin-top: 10px">
        <h1 class="h3 mb-0 text-gray-800" style="font-weight:900;">수주 목록</h1>
        <div class="btn-container btn-right">
            <a href="/order/new" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">수주 추가</a>
            <a href="/order/excel/new" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">엑셀로 추가</a>
        </div>
    </div>
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>수주번호</th>
            <th>주문유형</th>
            <th>제품명</th>
            <th>주문량</th>
            <th>업체명/고객명</th>
            <th>수주일</th>
            <th>예상 납품일</th>
            <th>출하일</th>
            <th>긴급여부</th>
            <th>상태</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

<th:block layout:fragment="script">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": "/api/orders",
                    "type": "GET",
                    "data": function (params) {
                        return {
                            draw: params.draw,
                            start: params.start,
                            length: params.length
                        };
                    },
                    "dataSrc": "data"
                },
                "columns": [
                    { "data": "orderNo" },
                    { "data": "orderType" },
                    { "data": "orderProductType" },
                    {
                        "data": "orderAmount",
                        "render": function (data, type, row) {
                            return data + " Box";
                        }
                    },
                    { "data": "orderCustomerName" },
                    {
                        "data": "orderDate",
                        "render": function (data, type, row) {
                            return data ? formatDate(data) : '-';
                        }
                    },
                    {
                        "data": "orderExpectShipDate",
                        "render": function (data, type, row) {
                            return data ? formatDate(data) : '-';
                        }
                    },
                    {
                        "data": "orderOutDate",
                        "render": function (data, type, row) {
                            return data ? formatDate(data) : '-';
                        }
                    },
                    {
                        "data": "orderIsEmergency",
                        "render": function (data, type, row) {
                            return data ? 'Y' : 'N';
                        }
                    },
                    { "data": "orderStatus" }
                ],
                "paging": true,
                "lengthMenu": [10, 25, 50, 100],
                "pageLength": 10,
                "language": {
                    "lengthMenu": "_MENU_ 개 단위",
                    "info": "전체 _TOTAL_개, _START_부터 _END_까지",
                    "paginate": {
                        "previous": "이전",
                        "next": "이후"
                    }
                },
                "dom": '<"top"lfB>rt<"bottom"ip><"clear">',  // l - length changing input control, f - filtering input, B - buttons
                "buttons": [
                    {
                        extend: 'excelHtml5',
                        title: '수주 목록',
                        text: 'Excel로 다운로드'
                    }
                ]
            });

            function formatDate(dateString) {
                var date = new Date(dateString);
                var day = date.getDate();
                var month = date.getMonth() + 1;
                var year = date.getFullYear() % 100;
                var hours = date.getHours();
                var minutes = date.getMinutes();
                var seconds = date.getSeconds();

                return `${year.toString().padStart(2, '0')}.${month}.${day} ${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
            }
        });
    </script>
</th:block>
</html>
