<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">

    <script>
        $(document).ready(function () {
            function getCurrentTime() {
                $.ajax({
                    url: '/time',
                    method: 'GET',
                    success: function(data) {
                        var currentTime = new Date(data);
                        var hours = String(currentTime.getHours()).padStart(2, '0');
                        var minutes = String(currentTime.getMinutes()).padStart(2, '0');
                        var year = currentTime.getFullYear();
                        var month = String(currentTime.getMonth() + 1).padStart(2, '0');
                        var day = String(currentTime.getDate()).padStart(2, '0');
                        var daysOfWeek = ['일', '월', '화', '수', '목', '금', '토'];
                        var dayOfWeek = daysOfWeek[currentTime.getDay()];
                        var formattedTime = hours + ':' + minutes;
                        var formattedTime2 = year + '-' + month + '-' + day + '-' + dayOfWeek
                        $('#current-time').html('현재 시각<br>' + formattedTime + '<br>' + formattedTime2);
                        console.log(formattedTime);
                    },
                    error: function(error) {
                        console.log('Error fetching time:', error);
                    }
                });
            }

            function increaseTime(minutes) {
                $.ajax({
                    url: '/increaseTime',
                    method: 'POST',
                    data: { minutes: minutes },
                    success: function() {
                        getCurrentTime(); // 시간 업데이트 후 다시 화면에 표시
                    },
                    error: function(error) {
                        console.log('Error updating time:', error);
                    }
                });
            }

            // 버튼 클릭 이벤트 핸들러 등록
            $('#btn-10min').click(function() {
                increaseTime(10);
            });

            $('#btn-1hour').click(function() {
                increaseTime(60);
            });

            $('#btn-1day').click(function() {
                increaseTime(1440);
            });

            getCurrentTime();
        });
    </script>

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-text mx-3">
                <h1>Home</h1>
            </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- 수주관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOrder"
               aria-expanded="true" aria-controls="collapseOrder">
                <span>수주관리</span>
            </a>
            <div id="collapseOrder" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/orders">수주 목록</a>
                </div>
            </div>
        </li>

        <!-- 원자재 관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaterial"
               aria-expanded="true" aria-controls="collapseMaterial">
                <span>원자재 관리</span>
            </a>
            <div id="collapseMaterial" class="collapse" aria-labelledby="headingUtilities"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#">원자재 입출고 이력</a>
                    <a class="collapse-item" href="#">원자재 재고 현황</a>
                </div>
            </div>
        </li>

        <!-- 완제품 관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct"
               aria-expanded="true" aria-controls="collapseProduct">
                <span>완제품 관리</span>
            </a>
            <div id="collapseProduct" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="#">완제품 입출고 이력</a>
                    <a class="collapse-item" href="#">완제품 재고 현황</a>
                </div>
            </div>
        </li>

        <!-- 생산 관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePlan"
               aria-expanded="true" aria-controls="collapsePlan">
                <span>생산 관리</span>
            </a>
            <div id="collapsePlan" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/plans">생산계획</a>
                    <a class="collapse-item" href="/juice/workorders">즙 작업지시</a>
                    <a class="collapse-item" href="/jelly/workorders">젤리스틱 작업지시</a>
                </div>
            </div>
        </li>

        <!-- 현황 관리 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSituation"
               aria-expanded="true" aria-controls="collapseSituation">
                <span>현황 관리</span>
            </a>
            <div id="collapseSituation" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/report/facility/progress">설비 가동 상황</a>
                    <a class="collapse-item" href="/report/wrapper/progress">충진 카운트</a>
                    <a class="collapse-item" href="/report/order/progress">수주별 진행률</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">


        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <!-- 여기에 테스트 시간/타이머 -->
            <div class="row">
                <div id="current-time" style="margin-bottom: 10px;"></div>
                <div class="col">
                    <button id="btn-10min" class="btn btn-success btn-sm">+10분</button>
                    <button id="btn-1hour" class="btn btn-success btn-sm">+1시간</button>
                    <button id="btn-1day" class="btn btn-success btn-sm">+1일</button>
                </div>

            </div>

        </div>

    </ul>
    <!-- End of Sidebar -->
</div>
</html>