<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta charset="UTF-8">
    <title>발주 추가</title>
</head>

<th:block layout:fragment="css">
    <style>
        select {
            width: 250px;
        }

        #MaterialAmount {
            width: 250px;
        }

        .card {
            width: 250px
        }
    </style>
</th:block>

<div layout:fragment="content" class="container-fluid">
    <h1>발주 추가</h1>
    <br>
    <h3>원자재명</h3>
    <select id="MaterialName" class="form-select">
        <option selected value="CABBAGE">양배추</option>
        <option value="GARLIC">흑마늘</option>
        <option value="HONEY">벌꿀</option>
        <option value="POMEGRANATE">석류(농축액)</option>
        <option value="PLUM">매실(농축액)</option>
        <option value="COLLAGEN">콜라겐</option>
        <option value="WRAPPER">포장지</option>
        <option value="BOX">박스</option>
    </select>
    <h3>주문량</h3>
    <input type="text" id="MaterialAmount" class="form-control" placeholder="주문량(kg, L, 개)를 입력하세요">
    <h3>업체명</h3>
    <div class="card">
        <div class="card-body" id="selectedMaterial">
            <p>에이 농장</p>
            <!--<input type="hidden" id="supplier" value="">-->
        </div>
    </div>
    <br>
    <button class="btn btn-primary" id="submit">완료</button>
</div>

<th:block layout:fragment="script">
    <script>
        $(document).ready(function () {
            var supplier = 'A_FARM';
            // select 요소 변경 시 호출되는 함수
            document.getElementById('MaterialName').addEventListener('change', function() {

                var selectedValue = this.value; // 선택된 값 가져오기
                var cardBody = document.getElementById('selectedMaterial');

                // 발주 추가에서 선택된 값에 따라 card-body의 내용 변경
                switch (selectedValue) {
                    case 'CABBAGE':
                    case 'GARLIC':
                    case 'HONEY':
                        cardBody.innerHTML = '<p>에이농장</p>';
                        supplier = "A_FARM";
                        break;
                    case 'POMEGRANATE':
                    case 'PLUM':
                    case 'COLLAGEN':
                        cardBody.innerHTML = '<p>OO농협</p>';
                        supplier = "OO_NH";
                        break;
                    case 'WRAPPER':
                    case 'BOX':
                        cardBody.innerHTML = '<p>OO포장</p>';
                        supplier = "OO_WRAPPING_COMPANY";
                        break;
                }
            });

            // 완료 버튼 클릭 시 데이터를 서버로 전송
            document.getElementById('submit').addEventListener('click', function() {
                var data = {
                    materialName: document.getElementById('MaterialName').value,
                    materialInoutAmount: document.getElementById('MaterialAmount').value,
                    materialSupplierName: supplier
                };

                fetch('/AddMaterial', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log('서버 응답:', data);
                        // 필요한 추가 작업 수행
                        window.location.href = '/materialinout';
                    })
                    .catch(error => {
                        console.error('에러 발생:', error);
                        // 에러 처리 로직 추가
                    });
            });
        });
    </script>
</th:block>
